<header>
    <div class="pt-16 pb-2 my-3">
      {% if page.layout == "home" %}
      <h1 class="text-4xl font-bold">Welcome to <a class="text-red-500 hover:underline" href="#">Pretty Static</a></h1>
      {% if page.subtitle %}
      <p class="font-light">{{ page.subtitle }}</p>    
      {% endif %}
      {% elsif post.layout == "post" %}
      <h1 class="text-4xl font-bold">{{ post.title }}</h1>
      {% if post.excerpt %}
      <p class="font-light">{{ post.excerpt }}</p>    
      {% endif %}
      {% else %}
      <h1 class="text-4xl font-bold">{{ page.title }}</h1>
      {% if page.subtitle %}
      <p class="font-light">{{ page.subtitle }}</p>    
      {% endif %}
      {% endif %}
      {%- include nav.html -%}
    </div>
  </header>  
