<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include favicons.html %}
  <link href="https://fonts.googleapis.com/css?family=Lato|Ubuntu&display=swap" rel="stylesheet">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/main.css">
  <title>Pretty Static | {{ title }}</title>
  {%- if siteConfig.ga -%}
    {%- include google-analytics.html -%}
  {%- endif -%}
</head>

