<div class="nav flex py-3 text-sm font-medium">
        <a class="font-bold hover:text-yellow-300" href="/">Pretty Static</a>
        <span class="px-1 text-yellow-300">&bull;</span>
        <a class="hover:text-yellow-300" href="/about">About</a>
        <span class="px-1 text-yellow-300">&bull;</span>
        <a class="hover:text-yellow-300" href="/blog">Blog</a>
        <span class="px-1 text-yellow-300">&bull;</span>    
        <a class="hover:text-yellow-300" href="/feed.xml">RSS</a>
      </div>
