article p, article li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

article h2 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: 700
}

article ul {
  list-style-position: inside;
  list-style-type: disc
}

article a {
  text-decoration-line: underline
}

article a:hover {
  --tw-text-opacity: 1;
  color: rgb(250 204 21 / var(--tw-text-opacity))
}

article pre {
  white-space: pre-wrap;
  border-radius: 0.125rem;
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(244 244 245 / var(--tw-text-opacity))
}