<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    <div class="container max-w-2xl mx-auto px-3">
        {{ content }}

    </div>
    {%- include footer.html -%}
    
  </body>
</html>
