---
layout: layouts/default.liquid
---
<header>
  <div class="pt-16 pb-2 my-3 border-b">
    {%- include nav.html -%}
    <h1 class="text-4xl font-bold">{{ title }}</h1>
    {% if subtitle %}
    <p class="font-light">{{ subtitle }}</p>    
    {% endif %}
  </div>
</header>  

<article class="page">
  <div class="page-contents">
    {{ content }}
  </div>

</article>
